asgiref==3.9.2
boto3==1.42.38
dj-database-url==3.0.1
Django==5.2.6
hvac==2.4.0
psycopg2-binary==2.9.10
whitenoise==6.11.0

# dev/test tools
black==25.9.0
flake8==7.3.0Django>=4.2,<6
requests
beautifulsoup4
markdown
gunicorn

# Production helpers
dj-database-url
whitenoise
psycopg2-binary
flake8
