{% extends "base.html" %}

{% block title %}SAML Authentication Error{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="alert alert-danger">
                <h4><i class="fas fa-times-circle"></i> Authentication Error</h4>
                <p><strong>Error:</strong> {{ error }}</p>
                <hr>
                <p class="mb-0">
                    <a href="{% url 'authentication:login' %}" class="btn btn-primary">
                        <i class="fas fa-redo"></i> Try Again
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
